@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
* {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.cont1 {
  height: 100%;
}

.heads {
  height: 100vh;
  background: url('https://enyngs.github.io/site/img/layer-15.png') center/cover no-repeat;
  position: relative;
  -webkit-box-ordinal-group: 11;
  -webkit-order: 10;
      -ms-flex-order: 10;
          order: 10;
}

.heads::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(#fcdf8a), to(#f59083));
  background: -webkit-linear-gradient(bottom, #fcdf8a, #f59083);
  background: -o-linear-gradient(bottom, #fcdf8a, #f59083);
  background: linear-gradient(to top, #fcdf8a, #f59083);
  opacity: 0.85;
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5;
}

.main {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  position: relative;
  -webkit-box-ordinal-group: 11;
  -webkit-order: 10;
      -ms-flex-order: 10;
          order: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.main__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 28px;
}

.main__logo {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.main__menu {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.main__menu a {
  text-decoration: none;
  padding-bottom: 12px;
  color: #ffffff;
}

.main__menu a:first-child {
  color: #fce38a;
  border-bottom: 1px solid #fce38a;
}

.main__menu a + a {
  margin-left: 55px;
}

.main__menu a + a:last-child {
  margin-left: 42px;
}

.main__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__title {
  font-size: 72px;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 50px;
  color: #ffffff;
}

.main__subtitle {
  font-size: -webkit-calc(40px + 60 * ((100vw - 320px) / 880));
  font-size: calc(40px + 60 * ((100vw - 320px) / 880));
  font-weight: bold;
  max-width: 800px;
  line-height: 0.93;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding-bottom: 70px;
  position: relative;
}

.main__subtitle::before {
  content: "";
  width: 60px;
  height: 3px;
  bottom: 0;
  left: -webkit-calc(50% - 30px);
  left: calc(50% - 30px);
  background-color: #ffffff;
  position: absolute;
  -webkit-box-ordinal-group: 16;
  -webkit-order: 15;
      -ms-flex-order: 15;
          order: 15;
}

.main__button {
  margin-top: 50px;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  text-align: center;
  color: #ffffff;
  padding: 10px 32px;
  border: 4px solid #ffffff;
  text-transform: uppercase;
}

.main__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}

.main__footer span {
  font-size: 24px;
  font-weight: 800;
}

.main__item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 30px;
  padding: 25px 0 28px;
  border-top: 3px solid rgba(255, 255, 255, 0.7);
  position: relative;
}

.main__item:first-child::before {
  content: "";
  width: 70px;
  height: 3px;
  top: -3px;
  left: 0;
  background-color: #f38181;
  position: absolute;
  -webkit-box-ordinal-group: 16;
  -webkit-order: 15;
      -ms-flex-order: 15;
          order: 15;
}

.main__item:last-child {
  margin-right: 0;
}

.story__img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 110px;
}

.story__img-item {
  position: relative;
  background-color: #95e1d3;
}

.story__img-item:hover img {
  bottom: 10px;
  right: 10px;
}

.story__img-item:hover .hov {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  bottom: 10px;
  right: 10px;
}

.story__img-item img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.sudtitle {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  text-align: center;
  color: #333333;
  padding-top: 91px;
  position: relative;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  padding: 23px 0 40px;
  position: relative;
}

.title::before {
  content: "";
  bottom: 0;
  left: -webkit-calc(50% - 30px);
  left: calc(50% - 30px);
  position: absolute;
  background-color: #f38181;
  width: 60px;
  height: 3px;
}

.sudtitle2 {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  max-width: 80%;
  text-align: center;
  color: #999999;
  margin: 0 auto;
  padding: 47px 0 91px;
}

.hov {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(233, 216, 141, 0.8)), to(rgba(243, 129, 129, 0.8)));
  background: -webkit-linear-gradient(bottom, rgba(233, 216, 141, 0.8), rgba(243, 129, 129, 0.8));
  background: -o-linear-gradient(bottom, rgba(233, 216, 141, 0.8), rgba(243, 129, 129, 0.8));
  background: linear-gradient(to top, rgba(233, 216, 141, 0.8), rgba(243, 129, 129, 0.8));
  -webkit-box-ordinal-group: 21;
  -webkit-order: 20;
      -ms-flex-order: 20;
          order: 20;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hov img,
.hov p {
  opacity: 1;
}

.hov p {
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  text-transform: uppercase;
  color: #ffffff;
}

.block {
  background-color: #95e1d3;
}

.stat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.stat__colum {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding: 90px 0;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 20%;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.stat__colum:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.stat__item-title {
  font-size: 72px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

.stat__item-subtitle {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.amazing__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding: 66px 0 122px;
  grid-column-gap: 68px;
  grid-row-gap: 100px;
  padding: 66px 30px 122px;
}

@media screen and (max-width: 750px) {
  .amazing__content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

.amazing__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.amazing__item-img {
  padding-right: 30px;
}

.amazing__item-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 20px;
  font-weight: 600;
}

.amazing__item-subtitle {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  text-align: left;
  color: #999999;
}

.design {
  background: url(/img/layer-45.png) center/cover no-repeat;
  margin-bottom: 90px;
  position: relative;
  height: 850px;
}

.design::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.design .big {
  position: absolute;
  bottom: 0;
  right: 42%;
}

.design .big img {
  height: 100%;
  width: 100%;
}

.design .smoll {
  position: absolute;
  bottom: -90px;
  right: 35%;
}

.design .smoll img {
  height: 100%;
  width: 100%;
}

.what .far {
  color: #95e1d3;
  font-size: 30px;
}

.what__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 120px;
}

.what__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.what__column {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 50%;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.what__item {
  padding: 15px;
}

.what__item:hover {
  cursor: pointer;
}

.what__item details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.what__item details summary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
}

.what__item details summary::-webkit-details-marker {
  display: none;
}

.what__item details[open] .what__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.what__head {
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  color: #333333;
  font-weight: 600;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 15px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

.what__arrow {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

.what__text {
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  font-family: "Roboto", sans-serif;
  padding: 25px 55px 25px 4px;
}

.what__slider {
  padding: 80px 90px 114px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.what__slider::before {
  content: "";
  width: 12px;
  height: 22px;
  bottom: 51%;
  left: 0;
  background: url(/img/arrow-down-copy-2.png) center no-repeat;
  position: absolute;
  -webkit-box-ordinal-group: 16;
  -webkit-order: 15;
      -ms-flex-order: 15;
          order: 15;
}

.what__slider::after {
  content: "";
  width: 12px;
  height: 22px;
  bottom: 54%;
  right: 0;
  background: url(/img/arrow-down-copy.png) center no-repeat;
  position: absolute;
  -webkit-box-ordinal-group: 16;
  -webkit-order: 15;
      -ms-flex-order: 15;
          order: 15;
}

.what__slider-img img {
  padding: 45px;
  border: 3px solid #95e1d3;
}

.what__qote-text {
  font-size: 24px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  line-height: 1.5;
  padding: 0 0 18px 61px;
  color: #999999;
}

.what__qote-author {
  margin: 0 0 18px 140px;
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: #333333;
  position: relative;
}

.what__qote-author::before {
  content: "";
  width: 60px;
  height: 3px;
  bottom: 45%;
  left: -70px;
  background-color: #f38181;
  position: absolute;
  -webkit-box-ordinal-group: 16;
  -webkit-order: 15;
      -ms-flex-order: 15;
          order: 15;
}

.meet__people {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 117px;
}

.meet__img {
  position: relative;
  background-color: #95e1d3;
  margin-bottom: 31px;
}

.meet__img .hov {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.meet__img .hov .fab {
  padding: 18px 20px;
  color: #f38181;
  background-color: #fce38a;
  font-size: 24px;
  border-right: 1px solid rgba(243, 129, 129, 0.3);
  opacity: 1;
}

.meet__img .hov .fab:hover {
  color: #ffffff;
  background-color: #f38181;
}

.meet__img:hover .hov {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  bottom: 10px;
  right: 10px;
}

.meet__img:hover img {
  bottom: 10px;
  right: 10px;
}

.meet__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.meet__name {
  font-size: 14px;
  padding-bottom: 15px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  font-weight: 600;
}

.meet__prof {
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  line-height: 1.6;
  text-align: center;
  color: #999999;
}

.meet__logo {
  padding: 50px 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.meet__logo img {
  width: 100%;
  height: 100%;
}

.some__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding-bottom: 100px;
}

.some__grid-img {
  position: relative;
}

.some__grid-img .hov {
  top: 0;
  left: 0;
}

.some__grid-img:hover .hov {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.some__grid-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.some__grid-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 18px 0 15px;
  font-weight: 600;
}

.some__grid-subtitle {
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
}

.grid__row {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.some__q {
  padding: 0 50px 130px 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
  position: relative;
}

.some__q::before {
  content: "";
  width: 12px;
  height: 22px;
  bottom: -webkit-calc(50% + 65px);
  bottom: calc(50% + 65px);
  left: 0;
  background: url(/img/arrow-down-copy-2.png) center no-repeat;
  position: absolute;
  -webkit-box-ordinal-group: 16;
  -webkit-order: 15;
      -ms-flex-order: 15;
          order: 15;
}

.some__q::after {
  content: "";
  width: 12px;
  height: 22px;
  bottom: -webkit-calc(52% + 65px);
  bottom: calc(52% + 65px);
  right: 0;
  background: url(/img/arrow-down-copy.png) center no-repeat;
  position: absolute;
  -webkit-box-ordinal-group: 16;
  -webkit-order: 15;
      -ms-flex-order: 15;
          order: 15;
}

.some__q-img img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.some__qote-text {
  font-size: 24px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  line-height: 1.5;
  padding: 0 0 18px 30px;
  color: #999999;
}

.some__qote-author {
  margin: 0 0 18px 140px;
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: #333333;
  position: relative;
}

.some__qote-author::before {
  content: "";
  width: 60px;
  height: 3px;
  bottom: 45%;
  left: -70px;
  background-color: #f38181;
  position: absolute;
  -webkit-box-ordinal-group: 16;
  -webkit-order: 15;
      -ms-flex-order: 15;
          order: 15;
}

.people {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
  background: url(/img/layer-53.png) center/cover no-repeat;
  position: relative;
}

.people::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  opacity: 0.85;
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5;
}

.people__content {
  position: relative;
  -webkit-box-ordinal-group: 11;
  -webkit-order: 10;
      -ms-flex-order: 10;
          order: 10;
  padding: 87px 30px 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.people__column + .people__column {
  padding-left: 87px;
}

.people__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;
}

.people__img {
  margin-right: 30px;
}

.people__img img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.people__description-title {
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}

.people__description-subtitle {
  padding-bottom: 17px;
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  line-height: 1.6;
  position: relative;
  color: #333333;
}

.people__description-subtitle::before {
  content: "";
  width: 60px;
  height: 3px;
  bottom: 0;
  left: 0px;
  background-color: #f38181;
  position: absolute;
  -webkit-box-ordinal-group: 16;
  -webkit-order: 15;
      -ms-flex-order: 15;
          order: 15;
}

.people__description-text {
  font-size: 15px;
  padding-top: 24px;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: #999999;
}

.latest__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 47px 0 116px;
}

.latest__column + .latest__column {
  padding-left: 20px;
}

.latest__img {
  position: relative;
}

.latest__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.latest__dat {
  position: absolute;
  padding: 13px 18px;
  background-color: #95e1d3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 10px;
  left: -10px;
  -webkit-box-ordinal-group: 21;
  -webkit-order: 20;
      -ms-flex-order: 20;
          order: 20;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.latest__dat > div {
  font-size: 30px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.latest__title {
  font-size: 14px;
  font-weight: 600;
  padding: 20px 0;
  color: #333333;
  text-transform: uppercase;
}

.latest__subtitle {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  padding-bottom: 40px;
  text-align: left;
  color: #999999;
}

.latest__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.latest__footer-view {
  color: #95e1d3;
  font-size: 20px;
  padding-right: 7px;
}

.latest__footer-num1 {
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  line-height: 1.6;
  padding-right: 18px;
  color: #999999;
}

.latest__footer-com {
  color: #95e1d3;
  font-size: 20px;
  padding-right: 7px;
}

.latest__footer-num2 {
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  line-height: 1.6;
  color: #999999;
}

.map {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
  background: url(/img/layer-59.png) center/cover no-repeat;
  position: relative;
  padding: 87px 0 57px;
}

.map::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5;
}

.map__content {
  -webkit-box-ordinal-group: 11;
  -webkit-order: 10;
      -ms-flex-order: 10;
          order: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.map__title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f38181;
  padding: 51px 0 24px;
}

.map__title::before {
  content: "";
  bottom: 0;
  left: -webkit-calc(50% - 30px);
  left: calc(50% - 30px);
  position: absolute;
  background-color: #f38181;
  width: 60px;
  height: 3px;
}

.fa-map-marker-alt {
  position: absolute;
  top: 0;
  right: -webkit-calc(50% - 10px);
  right: calc(50% - 10px);
  font-size: 30px;
  color: #f38181;
}

.mogo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 74px 15px 69px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 967px) {
  .mogo {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media screen and (max-width: 748px) {
  .mogo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mogo__mogo {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 35%;
      -ms-flex: 1 0 35%;
          flex: 1 0 35%;
  padding-right: 15px;
  min-width: 395px;
}

.mogo__title {
  font-size: 46.5px;
  font-weight: bold;
  padding-bottom: 41px;
  text-align: left;
  color: #cccccc;
}

.mogo__text {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  padding-bottom: 49px;
  color: #999999;
}

.mogo__foll {
  font-size: 14px;
  font-weight: 600;
  color: #333333;
  padding-bottom: 19px;
  border-bottom: 1px solid #e5e5e5;
}

.mogo__foll span {
  font-weight: bold;
  font-size: 20px;
}

.mogo__follus {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.6;
  padding-top: 18px;
  color: #999999;
}

.mogo__cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mogo__icons {
  color: #95e1d3;
  font-size: 14px;
  padding-top: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mogo__icons .fab {
  padding-left: 20px;
  text-align: end;
}

.mogo__form {
  padding-bottom: 10px;
  padding-top: 37px;
}

.mogo__form input[type="email"] {
  margin: 0;
  padding: 14px 50px 14px 15px;
}

.mogo__form input[type="email"]::-webkit-input-placeholder {
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  line-height: 1.6;
  color: #cccccc;
}

.mogo__form input[type="email"]:-ms-input-placeholder {
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  line-height: 1.6;
  color: #cccccc;
}

.mogo__form input[type="email"]::-ms-input-placeholder {
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  line-height: 1.6;
  color: #cccccc;
}

.mogo__form input[type="email"]::placeholder {
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  line-height: 1.6;
  color: #cccccc;
}

.mogo__form input[type="email"]:focus {
  border: 3px solid #95e1d3;
}

.mogo__form button {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 16px 34px;
  background-color: #95e1d3;
  margin: 0;
}

.mogo__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 24%;
      -ms-flex: 1 0 24%;
          flex: 1 0 24%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 15px;
  min-width: 290px;
}

.mogo__block-name {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 600;
  padding-bottom: 40px;
  padding-top: 6px;
}

.mogo__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mogo__row:last-child {
  margin-bottom: 0;
}

.mogo__col {
  padding: 21px 0 8px 20px;
}

.mogo__block-title {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 600;
  color: #333333;
}

.mogo__block-data {
  font-size: 13px;
  font-weight: 300;
  padding-top: 12px;
  font-style: italic;
  line-height: 1.85;
  font-family: "Roboto", sans-serif;
  color: #999999;
}

.mogo__inst {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 18%;
      -ms-flex: 1 0 18%;
          flex: 1 0 18%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 255px;
}

@media screen and (max-width: 967px) {
  .mogo__inst {
    text-align: center;
  }
}

.mogo__inst-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 600;
  padding-top: 6px;
  padding-bottom: 15px;
}

.mogo__photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
  gap: 2px;
  margin: 50px 0 20px;
}

@media screen and (max-width: 1050px) {
  .mogo__photos {
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr 1fr/1fr 1fr;
  }
  .mogo__photos .end {
    display: none;
  }
}

@media screen and (max-width: 967px) {
  .mogo__photos {
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
    max-width: 600px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 70%;
  }
  .mogo__photos .end {
    display: block;
  }
}

.mogo__photos-item {
  max-width: 200px;
}

.mogo__photos-item img {
  min-width: 79px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mogo__instr-deck {
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.85;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

@media screen and (max-width: 967px) {
  .mogo__instr-deck {
    padding-top: 15px;
  }
}

.footer {
  padding: 22px 0;
  border-top: 1px solid #e5e5e5;
}

.footer__text {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #333333;
}

.footer__text span {
  color: #f38181;
}
